[submodule "vendor/cglm"]
	path = vendor/cglm
	url = https://github.com/recp/cglm
[submodule "vendor/sdl"]
	path = vendor/sdl
	url = https://github.com/libsdl-org/sdl
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb
[submodule "vendor/miniaudio"]
	path = vendor/miniaudio
	url = https://github.com/mackron/miniaudio
[submodule "vendor/curl"]
	path = vendor/curl
	url = https://github.com/curl/curl
